{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  {% for object in object_list %}
    {% if tag %}
      {% with object.published as op %}
        <a class="text-decoration-none text-dark"
           href="{% url 'articles:article_detail_by_tag' tag_slug=tag.slug year=op.year month=op.month day=op.day article_slug=object.slug %}"
        >
          {% include "../includes/article.html" %}
        </a>
        {% endwith %}
    {% else %}
      <a class="text-decoration-none text-dark" href="{{ object.get_absolute_url}}">
        {% include "../includes/article.html" %}
      </a>
    {% endif %}
  {% empty%}
    <p class="alert alert-secondary">There are no published articles yet</p>
  {% endfor %}
  {% include "../includes/pagination.html" %}
{% endblock content %}
