{% extends "base.html" %}

{% block title %}
Article: {{ object.title}}
{% endblock title %}

{% block header %}
{{ object.title }}
{% endblock header %}

{% block content %}
<article class="mb-3 card border-0">
  <div class="card-body">
    <p class="text-secondary fst-italic fs-6">Publication at {{ object.published|date:"SHORT_DATE_FORMAT" }} by {{ object.author|capfirst }}</p>
    <div>
      {{ object.body|linebreaks }}
    </div>
    {% for tag in object.tags.all %}
      <span class="btn btn-outline-danger btn-sm">
        {{ tag.name}}
      </span>
    {% endfor %}
  </div>
</article>
{% endblock content %}
